body {
    background-color: #F3F4F7;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
    margin-inline-start: 10px;
}

h2 {
    font-size: 2rem;
    margin-inline-start: 10px;
}

header > img {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: #5A5A5A;
    border-radius: 12px;
}

nav li {
    display: inline-block;
}

section {
    display: flex;
}

div {
    flex: 1;
    background-color: white;
    border-radius: 12px;
    margin: 8px;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration:none;
    color: #f2f2f2;
    font-size: 1.5rem;
    margin: 8px;
}

li a:hover {
    color: blue;
    text-decoration: underline;
}

p {
    margin-inline-start: 10px;
}
